<script src="~/Scripts/People/People.js"></script>
<link href="~/Content/People.css" rel="stylesheet" />
<h3 style="text-align: center">Let us introduce you with our great team</h3>
<br />
<br />

<div class="basic">
    <div class="basicImg">
        <a href="http://localhost:41409/">
            <img src="~/Content/Images/Anita.png" />
        </a>
    </div>
    <div>
        <span class="basicTitle">Anita Cinac</span><br />
        <span class="basicDescription">061 354 312</span><br />
        <span class="basicDescription">Software Developer</span><br />
        <span class="basicDescription">Mistral Technologies</span><br />
        <br />
        <br />
        <span class="basicDescription">Address:</span><br />
        <span class="basicAddress">Azize Šaćirbegović 1</span><br />
        <span class="basicAddress">71 000 Sarajevo</span><br />
        <span class="basicAddress">Bosna i Hercegovina</span>
    </div>
</div>
<div style="clear: both;"></div>
<br />
<div class="breakline"></div>
<br />
<div class="basic">
    <div class="basicImg">
        <img class="basicImg" src="~/Content/Images/Ervin.png" />
    </div>
    <div>

        <span class="basicTitle">Ervin Sikira</span><br />
        <span class="basicDescription">061 518 371</span><br />
        <span class="basicDescription">Software Developer</span><br />
        <span class="basicDescription">Mistral Technologies</span><br />
        <br />
        <br />
        <span class="basicDescription">Address:</span><br />
        <span class="basicAddress">Azize Šaćirbegović 1</span><br />
        <span class="basicAddress">71 000 Sarajevo</span><br />
        <span class="basicAddress">Bosna i Hercegovina</span>
    </div>
</div>
<div style="clear: both;"></div>
<br />
<div class="breakline"></div>
<br />
<div class="basic">
    <div class="basicImg">
        <img class="basicImg" src="~/Content/Images/Matej.png" />
    </div>
    <div>

        <span class="basicTitle">Matej Čiča</span><br />
        <span class="basicDescription">061 000 000</span><br />
        <span class="basicDescription">Software Developer</span><br />
        <span class="basicDescription">Mistral Technologies</span><br />
        <br />
        <br />
        <span class="basicDescription">Address:</span><br />
        <span class="basicAddress">Azize Šaćirbegović 1</span><br />
        <span class="basicAddress">71 000 Sarajevo</span><br />
        <span class="basicAddress">Bosna i Hercegovina</span>
    </div>
</div>
<div style="clear: both;"></div>
<br />
<div class="breakline"></div>
<br />
<div class="basic">
    <div class="basicImg">
        <img class="basicImg" src="~/Content/Images/Nerman.png" />
    </div>
    <div>

        <span class="basicTitle">Nerman Deliahmetović</span><br />
        <span class="basicDescription">061 000 000</span><br />
        <span class="basicDescription">Software Developer</span><br />
        <span class="basicDescription">Mistral Technologies</span><br />
        <br />
        <br />
        <span class="basicDescription">Address:</span><br />
        <span class="basicAddress">Azize Šaćirbegović 1</span><br />
        <span class="basicAddress">71 000 Sarajevo</span><br />
        <span class="basicAddress">Bosna i Hercegovina</span>
    </div>
</div>
<div style="clear: both;"></div>
<br />
<div class="breakline"></div>
<br />
<div class="basic">
    <div class="basicImg">
        <img class="basicImg" src="~/Content/Images/Zina.png" />
    </div>
    <div>
        <span class="basicTitle">Zinajda Sarač</span><br />
        <span class="basicDescription">062 819 701</span><br />
        <span class="basicDescription">Quality Assurance Engineer</span><br />
        <span class="basicDescription">Mistral Technologies</span><br />
        <br />
        <br />
        <span class="basicDescription">Address:</span><br />
        <span class="basicAddress">Azize Šaćirbegović 1</span><br />
        <span class="basicAddress">71 000 Sarajevo</span><br />
        <span class="basicAddress">Bosna i Hercegovina</span>
    </div>
</div>
<div style="clear: both;"></div>
<br />
<div class="breakline"></div>
<br />
